@font-face {
  font-family: 'Sacramento';
  src: url("../fonts/Sacramento-Regular.ttf");
}

@font-face {
  font-family: 'Nunito Sans Light';
  src: url("../fonts/NunitoSans-Light.ttf");
}

/*Configurações gerais da página*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*Estilização da Imagem de fundo, título e botão no topo*/
header#topo {
  background: linear-gradient(50deg, rgba(56, 70, 197, .7) 0%, rgba(255, 46, 66, .8) 100%), url("../img/otavio-fundo-preto.png");
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
  text-align: center;
}

/*Menu horizontal*/
nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  transition: .5s;
}

nav ul {
  list-style: none;
  text-align: left;
}

nav ul li:first-child {
  margin-left: 7%;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  font-size: 1.35em;
  text-decoration: none;
  font-family: 'Nunito Sans Light', sans-serif;
  padding: 15px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Logo da ETEC. Só é exibido quando o scroll é ativado */
img#img-menu {
  width: 7%;
  margin-top: -50px;
  float: right;
  margin-right: 7%;
}

/* Esse menu fica escondido. Ele só é exibido quando o JS percebe que o scroll entrou em ação. Arquivo main.js na pasta js */
nav.alterar-menu {
  background-color: white;
  box-shadow: 0px 1px 10px #808080;
}

nav.alterar-menu ul li a {
  color: #FF2E42;
}

/* Seta piscando ao topo da página */
img.animate-flicker {
  width: 9%;
  margin-top: 7%;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-flicker {
  animation: flickerAnimation 1.5s infinite;
}


/* Título de Bem-Vindos ao topo da página */
header#topo h1 {
  display: inline-block;
  margin-top: 15%;
  color: white;
  font-size: 14em;
  font-family: 'Sacramento', cursive;
}

@media(max-width: 1500px) {
  header#topo h1 {
    font-size: 10em;
  } 
}


/*Estilização da linha do tempo*/
@media only screen and (min-width: 1170px) {
  .cd-is-hidden {
    visibility: hidden;
  }
}

.cd-timeline {
  overflow: hidden;
  margin: 2em auto;
}

.cd-timeline h2 {
  font-size: 5em;
  color: #FF2E42;
  text-align: center;
  font-family: 'Nunito Sans Light', sans-serif;
}

.cd-timeline__container {
  position: relative;
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}

/*Linha vertical*/
.cd-timeline__container::before {
  content: '';
  position: absolute;
  top: 0;
  /* left: 18px; */
  height: 100%;
  width: 4px;
  background-color: #FF2E42;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline {
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block:first-child {
  margin-top: 0;
}

.cd-timeline__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__block {
    margin: 4em 0;
  }
}

.cd-timeline__img {
  position: absolute;
  top: 0;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF2E42;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__img {
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    transform: translateZ(0);
  }

  .cd-timeline__img.cd-timeline__img--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.cd-timeline__content {
  position: relative;
  margin-left: 60px;
  background-color: #3846C5;
  border-radius: 0.40em;
  padding: 2em;
}

.cd-timeline_x_content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__content::before {
  /* triangulo na ponta de cada bloco */
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
}

.cd-timeline__content p,
.cd-timeline__date {
  font-size: 1.3rem;
  color: white;
  font-family: 'Nunito Sans Light', sans-serif;
}

.cd-timeline__content p {
  margin: .5em 0;
  line-height: 1.5;
}

.cd-timeline__date {
  display: inline-block;
  margin-top: -10px;
}

.cd-timeline__date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

@media only screen and (min-width: 768px) {
  .cd-timeline__content p {
    font-size: 1.6rem;
  }

  .cd-timeline__date {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }

  .cd-timeline__content::before {
    top: 14px;
    left: 100%;
    border-color: transparent;
    border-left-color: #3846C5;
  }

  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 120%;
    top: -5px;
    font-size: 1.6rem;
  }

  .cd-timeline__block:nth-child(even) .cd-timeline__content {
    float: right;
  }

  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
    top: 14px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #3846C5;
  }

  .cd-timeline__block:nth-child(even) .cd-timeline {
    float: right;
  }

  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 120%;
    text-align: right;
  }

  .cd-timeline__content.cd-timeline__content--bounce-in {
    visibility: visible;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {

  /* inverse bounce effect on even content blocks */
  .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}


/*Bloco de texto logo abaixo da linha do tempo*/
section#conteudo {
  background: #FF2E42;
}

section#conteudo p {
  color: white;
  font-size: 1.8rem;
  font-family: 'Nunito Sans Light', sans-serif;
  text-align: justify;
  padding: 10% 8%;
}

/*Segundo trecho de texto após a linha do tempo*/
section#segundo-conteudo p {
  color: #FF2E42;
  font-size: 1.8rem;
  font-family: 'Nunito Sans Light', sans-serif;
  text-align: justify;
  padding: 10% 8%;
}

/* Botão com link para os jogos */
div#block-btn{
  display: flex;
  justify-content: center;
}
a#btn-jogar {
  margin-top: -8%;
  margin-bottom: 8%;
  font-size: 1.80em;
  font-family: 'Nunito Sans Light', sans-serif;
}

a#btn-jogar {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #FF2E42;
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #FF2E42;
  color: white;
}

a#btn-jogar:hover {
  background-color: #C42333;
  border-color: #C42333;
  text-decoration: underline;
}