@font-face {
    font-family: 'Sacramento';
    src: url("../fonts/Sacramento-Regular.ttf");
}

@font-face {
    font-family: 'Nunito Sans Light';
    src: url("../fonts/NunitoSans-Light.ttf");
}

/*Configurações gerais da página*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(50deg, rgba(56, 70, 197) 0%, rgba(255, 46, 66) 100%);
}

/*Menu horizontal com links e logo a direita*/
nav {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
    transition: .5s;
    display: flex;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    font-size: 1.35em;
    text-decoration: none;
    font-family: 'Nunito Sans Light', sans-serif;
    padding: 15px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Logo da ETEC. Só é exibido quando o scroll é ativado */
nav img#img-menu {
    width: 10%;
  }
  
  /* Esse menu fica escondido. Ele só é exibido quando o JS percebe que o scroll entrou em ação. Arquivo main.js na pasta js */
  nav.alterar-menu {
    background-color: white;
    box-shadow: 0px 1px 10px #808080;
  }
  
  nav.alterar-menu  li a {
    color: #FF2E42;
  }

/*Seção com botão de link para os jogos*/
section#jogos {
    text-align: center;
    margin-bottom: 5%;
    padding-top: 3%;
}

section#jogos div.bloco-jogo {
    margin-top: 5%;
    padding: 15px;
    display: inline-block;
    background-color: white;
    color: #FF2E42;
    border-radius: 10px;
    width: 35%;
    font-family: 'Sacramento', cursive;
}

div.bloco-jogo h2{
    font-size: 4em;
}

/*retângulo do jogo da forca*/
div#forca{
    margin-right: 20px;
}

div#forca img{
    width: 80%;
}

/*retângulo do jogo da velha*/
div#velha{
    margin-left: 20px;
}
div#velha img{
    width: 80%;
}

div#digite img{
    width: 85%;
}

/*Botão dos jogos*/
.btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #FF2E42;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #FF2E42;
    color: white;
    font-size: 1.80em;
    font-family: 'Nunito Sans Light', sans-serif;
}

.btn:hover {
    background-color: #C42333;
    border-color: #C42333;
    text-decoration: underline;
}