@font-face {
    font-family: 'Sacramento';
    src: url("../fonts/Sacramento-Regular.ttf");
}

@font-face {
    font-family: 'Nunito Sans Light';
    src: url("../fonts/NunitoSans-Light.ttf");
}

/*Configurações gerais da página*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(50deg, rgba(56, 70, 197) 0%, rgba(255, 46, 66) 100%);
}

/*Menu horizontal com links e logo a direita*/
nav {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
    transition: .5s;
    display: flex;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    font-size: 1.35em;
    text-decoration: none;
    font-family: 'Nunito Sans Light', sans-serif;
    padding: 15px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Logo da ETEC. Só é exibido quando o scroll é ativado */
nav img#img-menu {
    width: 10%;
}
  
/* Esse menu fica escondido. Ele só é exibido quando o JS percebe que o scroll entrou em ação. Arquivo main.js na pasta js */
nav.alterar-menu {
    background-color: white;
    box-shadow: 0px 1px 10px #808080;
}
  
nav.alterar-menu  li a {
    color: #FF2E42;
}

/* Formatação do bloco contendo as duas divs */
section {
    padding-top: 7%;
}

div.equipe {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    padding: 20px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

figure img.dev {
    border-radius: 100%;
    width: 35%;
}

figcaption {
    text-align: justify;
    width: 70%;
    padding: 0px 30px 0px 30px;
}

figcaption h3 {
    font-size: 2.5em;
    font-family: 'Nunito Sans Light', sans-serif;
    color: #FF2E42;
}

figcaption p {
    font-size: 1.8em;
    font-family: 'Nunito Sans Light', sans-serif;
    margin-top: 0px;
    color: #606060;
}

.social-media {
    display: inline-block;
}

.social-media a img {
    margin-top: 10%;
    padding-right: 10px;
}