@font-face {
	font-family: 'Nunito Sans Light';
	src: url("../../fonts/NunitoSans-Light.ttf");
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Nunito Sans Light', sans-serif;
	font-size: 1.50em;
}

li {
	display: inline;
}

ul {
	text-align: center;
}

div {
	text-align: center;
	font-size: 20px;
}

#velha {
	display: inline-block;
	margin-top: 1%;
	text-decoration: none;
	border: 1px solid #1ED107;
	padding: 15px 35px;
	border-radius: 5px;
	background-color: #1ED107;
	color: white;
	font-size: 20px;
}

#velha:hover {
	text-decoration: underline;
}

.botoes {
	display: inline-block;
	margin-top: 1%;
	text-decoration: none;
	border: 1px solid #FF2E42;
	padding: 10px 25px;
	border-radius: 5px;
	background-color: #FF2E42;
	color: white;
	font-size: 1.2em;
}

.botoes:hover {
	background-color: #C42333;
	border-color: #C42333;
}

.botoes:disabled {
	background-color: #73151E;
	border-color: #73151E;
}

section#tchances>div {
	display: inline-block;
	width: 100%;
	height: 100%;

}

section#tchutes>div {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/*Botões links ao final da página*/
a#jogos-btn {
	display: inline-block;
	margin-top: 1%;
	text-decoration: none;
	border: 1px solid #1ED107;
	padding: 20px 40px;
	border-radius: 5px;
	background-color: #1ED107;
	color: white;
	font-size: .8em;
	font-family: 'Nunito Sans', sans-serif;
}

a#principal-btn {
	display: inline-block;
	margin-top: 1%;
	text-decoration: none;
	border: 1px solid #FF2E42;
	padding: 20px 40px;
	border-radius: 5px;
	background-color: #FF2E42;
	color: white;
	font-size: .8em;
	font-family: 'Nunito Sans', sans-serif;
}

a#principal-btn:hover {
	background-color: #C42333;
	border-color: #C42333;
}

a#jogos-btn:hover {
	text-decoration: underline;
}
